/*=Header
---------------------------------------------------------------------*/
.header {
    //position: absolute;
    width: 100%;
    z-index: 10;
}
.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 10px;
    height: 164px;
}
.home-page-header{
	position: relative;
	padding-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content__right{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.home-page-header-content__heading{
    background-color: rgba(255, 255, 255, 0.80);
    padding: 5px;
    h1{
        font-size: rem-calc(140px);
        @include breakpoint(medium down) {
            font-size: rem-calc(70px);
            line-height: 1.5;
        }
    }
}

.page-header-content__heading{
    background-color: rgba(248, 231, 28, 0.80);
    display: inline-block;
    padding: 5px;
    h1{
        font-size: rem-calc(48px);
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
}