.color-black{
	color: #000;
}
.bg-color-black{
	background-color: #000;
}
.color-white{
    color: #fff;
}
.bg-color-white{
	background-color: #fff;
}
.color-yellow{
    color: $yellow;
}
.bg-color-yellow{
    background-color: $yellow;
}
.color-red{
	color: red;
}
.bg-color-red{
	background-color: red;
}
.color-orange{
	color: orange;
}
.bg-color-orange{
	background-color: orange;
}
.color-green{
	color: green;
}
.bg-color-green{
	background-color: green;
}
.color-blue{
	color: blue;
}
.bg-color-blue{
	background-color: blue;
}
.color-grey{
	color: $grey;
}
.bg-color-grey{
	background-color: $grey;
}