// Colors
$font-color: #3a3a3a;
$link-color: #0ae;
$link-color-hover: adjust-hue($link-color, -240);

// Font
$monospace: consolas, monaco, menlo, monospace;

$black: #000;
$white: #fff;
$yellow: #F8E71C;
$purple: purple;
$red: red;
$orange: orange;
$green: green;
$blue: blue;
$grey: gainsboro;

$pretty--color-info: #000;
